@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100..900&family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Varela+Round&display=swap');


*{
    margin: 0;
    padding: 0;
    font-family: "Roboto", sans-serif;
    /* border: 2px solid red; */
}


.header{
    background-color: rgb(56, 126, 255);
    padding: 1rem;
    text-align: center;
    color: azure;
    display: flex;
    justify-content: space-between;
    gap: 1rem;
}

.navLinks{
    display: flex;
    justify-content: space-between;
    gap: 1rem;
}
.navLinks > a{
    text-decoration: none;
    font-size: larger;
    color: orange;
    border: 2px solid rgb(101, 96, 96);
    padding: 3px;
    border-radius: 8px;
    background-color: #fff;
}

.container{
    background-color: rgb(255, 247, 214);
    width: 70%;
    margin: auto;
    min-height: 100vh;
    padding: 3rem;
    box-sizing: border-box;
}

.container > h1{
    text-align: center;
    margin-bottom: 1rem;
}

.container form{
    display: flex;
    flex-direction: column;
    gap: 8px;
    justify-content: center;
}

.container > form input, textarea, button {
    padding: 1rem;
    border-radius: 5px;
    border: 2px solid black;
    font-size: 1.1rem;
}

button{
    background-color: rgb(61, 61, 61);
    color: azure;
    font-weight: bold;
    width: 30%;
    cursor: pointer;
}

.task{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 1.5rem;
    background-color: #e0dddd;
    padding: 1.5rem;
    border-radius: 5px;
}

.task > button{
    width: 4px;
    height: 4px;
    display: flex;
    font-size: 1.8rem;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
}

.task > button:hover{
    background-color: crimson;
    transition: 0.3s;
}

.about{
    min-height: 100vh;
    background-color: crimson;
}

.contact{
    min-height: 100vh;
    background-color: yellowgreen;
}

.footer{
    background-color: #262525;
    color: white;
    height: 6rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.user{
    min-height: 100vh;
    background-color: rgb(255, 174, 126);
}